<div id="alertclose">
    <div class="alerty-overlay active" tabindex="-1" id="overlay-alerty766084"></div>
    <div class="alerty alerty-show" id="alerty766084" style="margin-top: -100px;">
        <div class="alerty-title" style="text-align:right;"> تأكيد </div>
        <div class="alerty-content" style="text-align:right;">
            <p class="alerty-message rtl"> هل انت متأكد من أخفاء هذه الرسالة من العرض على الرابط الخاص بك؟ </p>
        </div>
        <div class="alerty-action"><a class="btn-cancel">لا</a><a class="btn-ok">نعم</a></div>
    </div>
</div>


<div id="alertclose">
    <div class="alerty-overlay active" tabindex="-1" id="overlay-alerty766084"></div>
    <div class="alerty alerty-show" id="alerty766084" style="margin-top: -100px;">
        <div class="alerty-title" style="text-align:right;"> تأكيد </div>
        <div class="alerty-content" style="text-align:right;">
            <p class="alerty-message rtl"> هل انت متأكد من أخفاء هذه الرسالة من العرض على الرابط الخاص بك؟ </p>
        </div>
        <div class="alerty-action"><a class="btn-cancel">لا</a><a class="btn-ok">نعم</a></div>
    </div>
</div>